{% extends 'base.html.twig' %}


{% block body %}

    <h1>Gestion des catégories</h1>
    <div>
        <a href="{{ path('app_admin_category_edit') }}"
           class="btn btn-outline-secondary mb-2">
            ajouter une catégorie
        </a>
    </div>
    
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th width="250px"></th>
        </tr>
        {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td>
                <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}"
                   class="btn btn-outline-primary">
                    Modifier
                </a>
                <a href="{{ path('app_admin_category_delete', {'id': category.id}) }}"
                   class="btn btn-outline-danger btn-delete">
                    Supprimer
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <!-- Modal -->
    <div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Etes-vous sûr de vouloir supprimer cette catégorie?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-confirm-delete" data-dismiss="modal">Oui</button>
                    <button type="button" class="btn btn-primary">Non</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {# pour garder le contenu du bloc javascript de base.html.twig #}
    {{ parent() }}

    {# asset() pour créer le chemin vers la racine web du site correspondant
     à celle du repertoire public #}
    <script src="{{ asset('js/admin_category.js') }}"></script>

{% endblock %}