{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edition d'articles</h1>

    {# ouverture de la balise form #}
    {{ form_start(form) }}

    {# champs de formulaire avec leurs labels #}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.category) }}
    {{ form_row(form.image) }}
    {% if original_image is not null %}
        <p>Actuellement :</p>
        <img src="{{ asset('images/' ~ original_image) }}" height="150px" alt="">
    {% endif  %}


    <div class="text-right">
        <button type="submit" class="btn btn-outline-secondary">
            Enregistrer
        </button>
        <a href="{{ path('app_admin_article_index') }}"
           class="btn btn-outline-secondary">
            Retour
        </a>
    </div>

    {# fermeture de la balise form #}
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# pour l'affichage du nom du fichier à télécharger dans le Files Input du formulaire #}
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init();
        });
    </script>
{% endblock %}
