{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gestion Articles</h1>

    <a href="{{ path('app_admin_article_edit') }}"
    class="btn btn-outline-primary mb-3">
        Rédiger un article
    </a>

    <div class="card bg-light mb-3">
        <div class="card-body">

            {{ form_start(search_form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(search_form.title) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(search_form.category) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(search_form.start_date) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(search_form.end_date) }}
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-info">
                    Rechercher
                </button>
            </div>


            {{ form_end(search_form) }}

        </div>
    </div>

    <table class="table table-striped">
        <tr class="table-dark">
            <th>Id</th>
            <th>Titre</th>
            <th>Date de publication</th>
            <th>Catégorie</th>
            <th>Auteur</th>
            <th>Illustration</th>
            <th>Nombres de commentaires</th>
            <th width="300px"></th>
        </tr>
    {% for article in articles %}
        <tr>
            <td>{{ article.id }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.publicationDate|date('d/m/Y H:i') }}</td>
            {# l'attribut $category de Article contient un objet Category #}
            <td>{{ article.category.name }}</td>
            {# l'attribut $author de Article contient un objet User et
               la classe User contient une méthode __toString #}
            <td>{{ article.author }}</td>
            <td>
                {% if article.image is not null %}
                    <img src="{{ asset('images/' ~ article.image) }}" height="50px" alt="">
                {% endif %}
            </td>
             <td class="text-center">
                 <a class="badge badge-info" href="{{ path('app_admin_article_comments', {'id': article.id}) }}">
                     {{ article.comments|length }} {# ou count #}
                 </a>
             </td>
            <td>
                <a href="{{ path('app_admin_article_edit', {'id':article.id}) }}"
                class="btn btn-outline-primary">
                    Modifier
                </a>
                <a href="{{ path('app_admin_article_delete', {'id': article.id}) }}" class="btn btn-outline-danger">
                    Supprimer
                </a>
                <a href="{{ path('app_admin_article_ajaxcontent', {'id': article.id }) }}" class="btn btn-outline-info btn-content">
                    Aperçu
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>


    <!-- Modal -->
    <div class="modal modal-lg fade" id="modal-content" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/admin_article.js') }}"></script>
{% endblock %}