<table class="table table-stripped">
    <tr class="table-dark">
        <th>Titre</th>
        <th>Date de publication</th>
        <th>Catégorie</th>
        <th>Contenu</th>
        <th>Auteur</th>
        <th>Illustration</th>
        <th></th>
    </tr>

    {% for article in articles  %}
        <tr>
            <td><a href="{{ path('app_article_index', {'id':article.id}) }}">
                    {{ article.title }}
                </a>
            </td>
            <td>{{ article.publicationDate|date('d/m/Y H:i') }}</td>
            <td>{{ article.category.name }}</td>
            <td>{{ article.content }}</td>
            <td>{{ article.author }}</td>
            <td>
                {% if article.image is not null  %}
                    <img src="{{ asset('images/' ~ article.image) }}" height="50px">
                {% endif %}
            </td>
        </tr>

     {# s'il n'y a pas d'article #}
    {% else %}
        <p>Aucun article pour le moment</p>
    {% endfor %}


</table>